body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  margin: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*======Header====== */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo-web {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  flex-shrink: 0;
}

.logo-studio {
  color: #2e2f42;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.top-line{
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

.link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.one-navigation .link:hover,
.one-navigation .link:focus {
  color: #404bbf;
}

.two-navigation .link:hover {
  color: #404bbf;
}

.three-navigation .link:hover {
  color: #404bbf;
}
/* ================= */


/*====== Contacts======= */
.contacts {
  font-style: normal;
}

.contacts-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.contacts-list{
  display: inline-flex;
  gap: 40px;
}
/* ================= */


/*====Section button===== */
.name {
  background: #2e2f42;
}

.title {
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.button {
  cursor: pointer;
  color: #fff;
  background: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}
/* ================== */


/*===Section 1 Our strengths===*/
.section-strengths {
  background-color: #ffffff;
}

.third-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset;
  clip: rect;
  overflow: hidden;
}
/* =============== */


/*===Section 2 Our Team===*/
.team {
  background-color: #f4f4fd;
}

.second-title {
  color: #2e2f42;
  background: #f4f4fd;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* =============== */


/*===Section 3 Our Portfolio===*/
.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ================ */


/*=====Footer=====*/

.discription {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.second-logostudio {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-discription {
  background: #2e2f42;
}

ul li {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}
