body{
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
}

/* Header */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.container .page-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-nav .logo-web{
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
}

.page-nav .logo-studio{
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
}

.logo-web{
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.logo-studio{
    color: #2E2F42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.top-line .link{
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.link{
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.one-navigation .link:hover,
.one-navigation .link:focus {
    color: #404BBF;
}

.two-navigation .link:hover{
    color: #404BBF;
}

.three-navigation .link:hover{
    color: #404BBF;
}

.container li{
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}


/* Contacts */
.contacts{
    font-style: normal;
}

.contacts-link{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}


/* Section button */

section{
    padding: 120px 0;
}
.name {
    background:  #2E2F42;
}

.title {
    color: #FFF;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.button{
    cursor: pointer;
    color: #FFF;
    background: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

}

.button:hover,
.button:focus{
    background-color: #404BBF;
}


/* Section 1 Our strengths */
.section-strengths{
    background-color: #FFFFFF;
}

.third-title{
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
 }

 .text{
    color:#434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }

 
 /* Section 2 Our Team */
 .team{
    background-color: #F4F4FD
 }

 .ourteam{
    background-color: #FFFFFF
 }
 
 .second-title{
    color: #2E2F42;
    background: #F4F4FD;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
 }

 .team-title{
    color: #2E2F42;
    font-family: "Roboto";
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
 }

 .team-text{
    color: #434455;
    font-family: "Roboto";
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }


/* Section 3 Our Portfolio */
 .portfolio-title{
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-text{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* Footer */
.discription{
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.second-logostudio{
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-discription{
    background: #2E2F42;
}

ul li{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}